<h1>Listing authors</h1>

<table>
  <tr>
    <th>User Id</th>
    <th>User Name</th>
    <th>Article Id</th>
    <th>Article Name</th>
    <th></th>
  </tr>
  
  <%= render @authors %>
  
</table>

<br />

<%= link_to 'New Author', new_author_path %>
